.about-flex {
    width: 100%;
    display: flex;
    margin: 2em 0;
    justify-content: space-evenly;
}

.about-right {
    width: 40%;
}

.about-left {
    width: 40%;
}

.about-container {
    margin-bottom: 3em;
}

.cv-period {
    font-size: 1em;
}

.about-img {
    max-width: 299px;
    height: auto;
}

@media screen and (max-width: 721px){ /* smallest */
  .about-flex {
      flex-direction: column;
      align-items: center;
  }

  .about-right, .about-left {
      width: 100%;
  }
}