/* Stylesheet for the navlinks */

.nav-title {
    font-family: 'Cutive Mono', 'Roboto', monospace, sans-serif;
    font-size: 2.5em;
}

.nav-link {
    margin-right: 2em;
    display: inline-block;
}

.nav-link, .nav-title {
    color: black;
    text-decoration: none;
}

.nav-right {
    float: right;
    padding-top: 0.8em;
}

.nav-right .nav-link {
    padding: 0 1em;
    padding-bottom: 0.2em;
    text-align: center;
}

@media screen and (max-width: 888px){ /* smaller screens */
    .nav-right {
        float: none;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 721px){ /* smaller screens */
    .nav-right {
        display: block;
        float: none;
        margin-bottom: 5px;
    }
}