.gallery {
  width: 70%;
  margin: 0 auto;
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  padding: 2em 5em;
  justify-content: center;
}

@media screen and (max-width: 768px){ /* smaller screens */
    .container{
      flex-direction: column;
    }
  }