.thumbnail {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px;
    margin-bottom: 50px;
}

.thumbnail img {
    max-width: 400px;
    max-height: 250px;
    margin: 0px;
}